- game ||= @game

p
  ' Generation:
  = game.generation

table: tbody
  - game.rows.times do |y|
    tr
      - game.cols.times do |x|
        - row = game.grid[y]
        - cell = row.try :[], x
        td class="#{:live if cell == 1}"
