p Choose a file to start a new game

details
  summary File example
  pre
    code
      |
        Generation 1:
        Grid: 5 8
        ........
        ..*.....
        ..*..*..
        ..***...
        ........

p
  #or OR
  = form_with url: "random" do |f|
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = f.button "PLAY RANDOM", class: :outline

= form_with url: "play", multipart: true do |f|
  = f.file_field :file, accept: "text/plain", required: true
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.submit "PLAY FILE"
