#game
  = render "grid"

= form_with url: "start", local: false do |f|
  = f.hidden_field :game, id: :game_json, value: @game.to_json
  = f.button :START, id: :start, type: :button
  = f.button :STOP, id: :stop, type: :button, hidden: true

small
  h4#gameover GAME OVER
  p#or OR
  = link_to "NEW GAME", games_new_path, id: :new_game
