\:root
  --bg: #212121
  --accent-bg: #2b2b2b
  --text: #dcdcdc
  --text-light: #ababab
  --border: #666
  --accent: #ffb300
  --code: #f06292
  --preformatted: #ccc
  --disabled: #111

body
  footer
    border: none

.game
  text-align: center

#alert
  color: #E13929

input[type="file"]
  padding: 50px
  border: 1px solid

details
  border: none
  background: none
  margin-bottom: 2rem
  &[open]
    padding: 0
  summary
    padding: 0
    font-weight: normal

pre
  text-align: left
  display: inline-table

table
  max-width: 65vh
  margin-left: auto
  margin-right: auto

td
  padding: 0
  background: black
  border-color: var(--bg)
  &:after
    content: ''
    display: block
    margin-top: 100%
  &.live
    background: var(--text)

button
  width: 65vh
  max-width: 100%
  font-weight: bold
  &#stop
    background: #E13929
  &.outline
    width: 60%
    background: none
    color: var(--accent)
    border: 1px solid var(--accent)

[type='submit']
  font-weight: bold

#gameover
  display: none

.credits
  margin-top: 90px
  font-size: small
  a
    text-decoration: none
