doctype html
html
  head
    title Game of Life
    = csrf_meta_tags
    = csp_meta_tag
    meta content="width=device-width,initial-scale=1" name="viewport"
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = yield
