= inside_layout "application" do
  .game
    h1 GAME OF LIFE
    = yield
    = render "alerts"

  footer
    = link_to "QUIT", destroy_user_session_path, method: :delete
    .credits = link_to '© FraV8', 'https://gitlab.com/FraV8', target: :blank
